
<div class="text-center">
    <h1 class="display-4">El Huachimingo ropas</h1>
</div>
<header>
		<div class="container">
			<h1>Bienvenido</h1>
			<h3>@Context.User.Identity.Name</h3>
		</div>
	</header>


	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
